@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans:wght@200;300;400&display=swap');
/* font-family: 'Didact Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Work Sans', sans-serif; */
body{
    height:100vh;
    background: none;
    border: none;
    margin: 0;
}
/* ==========HEADER========== */
header p{
    padding-top: 10px;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Work Sans', sans-serif;
}

header h1{
    width: 40%;
    text-align: center;
    margin: 0px auto;
    font-size: 5vw;
    font-family: 'Didact Gothic', sans-serif;
}
header img{
   padding: 20px 20px;
   width: 50%;
   display: block;
   margin: 0px auto;
}
header h1:last-of-type{
    font-size: 8vw;
    padding-bottom: 20px;
}

/* ==========MAIN Start========== */

/* ==========ORBIS========== */
main section:first-child{
    background-image: url(../img/portfolio2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
main section:first-child div:first-child{
    width: 70%;
    margin: 0px auto;
    padding-top: 10%; 
}
main section:first-child div p{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.5vw;
    opacity: 0.6;
}
main section:nth-child(1) div p:last-of-type{
    padding-bottom: 10%;
}
main section:first-child div h1{
    font-family: 'Work Sans', sans-serif; 
    font-size: 5vw;
}
main section:first-child div:first-child a{
   border-style:solid ;  
   font-family: 'Fjalla One', sans-serif;
   font-size: 2vw;
   color: #fff;
   padding:1vw 2vw;
   border-radius: 0.5vw;
   text-decoration: none;
}
main section:first-child div:first-child a:hover{
    background-color: #fff;
    color: #000;
    border-color: #fff;
}
main section:first-child div:last-child{
    width: 70%;
    margin: 0px auto;
    padding-bottom: 10px;   
}
main section:first-child div:last-child h1{
    font-weight: 900;
    opacity: 0.6;
    margin: 0px 10% 0px 100%;
    padding-bottom: 10px;  
    font-size: 10vw; 
    font-family: 'Fjalla One', sans-serif;
    color: #666;
}
/* ==========ROLLR========== */
main section:nth-child(2){
    background-image: url(../img/portfolio3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main section:nth-child(2) div:first-child{
    width: 70%;
    margin: 0px auto;
    padding-top: 10%; 
}
main section:nth-child(2) div p{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.5vw;
    opacity: 0.6;
}
main section:nth-child(2) div p:last-of-type{
    padding-bottom: 10%;
}
main section:nth-child(2) div h1{
    font-family: 'Work Sans', sans-serif; 
    font-size: 5vw;
}
main section:nth-child(2) div:first-child a{
   border-style:solid ;  
   font-family: 'Fjalla One', sans-serif;
   font-size: 2vw;
   color:#000;
   padding:1vw 2vw;
   border-radius: 0.5vw;
   text-decoration: none;
   border-color:#6666;
}
main section:nth-of-type(2) div:first-child a:hover{
    background-color:#000;
    color:#fff;
    border-color:#000;
}
main section:nth-of-type(2) div:last-child{
    width: 70%;
    margin: 0px auto;
    padding-bottom: 10px;   
}
main section:nth-of-type(2) div:last-child h1{
    font-weight: 900;
    opacity: 0.6;
    margin: 0px 10% 0px 100%;
    padding-bottom: 10px;  
    font-size: 10vw; 
    color: #666;
    font-family: 'Fjalla One', sans-serif;
}
/* ==========GALITOS'S========== */
main section:nth-child(3){
    background-image: url(../img/portfolio4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
main section:nth-child(3) div:first-child{
    width: 70%;
    margin: 0px auto;
    padding-top: 10%; 
}
main section:nth-child(3) div p{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.5vw;
    opacity: 0.6;
}
main section:nth-child(3) div p:last-of-type{
    padding-bottom: 10%;
}
main section:nth-child(3) div h1{
    font-family: 'Work Sans', sans-serif; 
    font-size: 5vw;
}
main section:nth-child(3) div:first-child a{
   border-style:solid ;  
   font-family: 'Fjalla One', sans-serif;
   font-size: 2vw;
   color:#fff;
   padding:1vw 2vw;
   border-radius: 0.5vw;
   text-decoration: none;
   border-color: #666;
}
main section:nth-of-type(3) div:first-child a:hover{
    background-color:#fff;
    color:#000;
    border-color:#fff;
}
main section:nth-of-type(3) div:last-child{
    width: 70%;
    margin: 0px auto;
    padding-bottom: 10px;   
}
main section:nth-of-type(3) div:last-child h1{
    font-weight: 900;
    opacity: 0.6;
    margin: 0px 10% 0px 100%;
    padding-bottom: 10px;  
    font-size: 10vw; 
    color: #666;
    font-family: 'Fjalla One', sans-serif;
}
/* ==========TRETTO========== */
main section:nth-child(4){
    background-image: url(../img/portfolio5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main section:nth-child(4) div:first-child{
    width: 70%;
    margin: 0px auto;
    padding-top: 10%; 
}
main section:nth-child(4) div p{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.5vw;
    opacity: 0.6;
}
main section:nth-child(4) div p:last-of-type{
    padding-bottom: 10%;
}
main section:nth-child(4) div h1{
    font-family: 'Work Sans', sans-serif; 
    font-size: 5vw;
}
main section:nth-child(4) div:first-child a{
   border-style:solid ;  
   font-family: 'Fjalla One', sans-serif;
   font-size: 2vw;
   color:#0A0A0A;
   padding:1vw 2vw;
   border-radius: 0.5vw;
   text-decoration: none;
   border-color: #6666;
}
main section:nth-of-type(4) div:first-child a:hover{
    background-color:#000;
    color:#fff;
    border-color:#000;
}
main section:nth-of-type(4) div:last-child{
    width: 70%;
    margin: 0px auto;
    padding-bottom: 10px;   
}
main section:nth-of-type(4) div:last-child h1{
    font-weight: 900;
    opacity: 0.6;
    margin: 0px 10% 0px 100%;
    padding-bottom: 10px;  
    font-size: 10vw; 
    color: #666;
    font-family: 'Fjalla One', sans-serif;
}
/* ==========What more========== */
main section:last-child{
    background-color: #0A0A0A;
    color: #fff;
    padding-bottom: 5%;
}  
main section:last-of-type h1{
    text-align: center;
    font-size: 10vw;
    font-family: 'Didact Gothic', sans-serif;
}
main section:last-of-type div{
    margin: 0px 0px 0% 45%
}
main section:last-of-type div:first-of-type p{
    font-family: 'Didact Gothic', sans-serif;
    opacity: 0.6;
}
main section:last-of-type div:last-of-type a{
    font-size: 4vw;
    text-decoration: none;
    color: #fff;
    font-family: 'Didact Gothic', sans-serif;
}
main section:last-of-type div:last-of-type a:hover, section:last-of-type div:last-of-type a:active{
    text-decoration: underline;
}
/* ==========MAIN End========== */

/* ==========FOOTER========== */
footer nav{
    width: 50%;
    margin:0px auto;
    padding-top: 10%;
}
nav ul{
    list-style: none;
}
nav ul li a{
    text-align: center;
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 10vw;
    line-height: 20vw;
    color: black;
}
nav ul li a:hover, li a:active{
    text-decoration: underline;
}
nav p{
    padding:10% 50%;
}
    